
.App {
  text-align: center;
  
}
.App.imm{
  top:100px;
  width:500px;
  height:300px;
  margin:40px 0;
  box-shadow:-30px 30px 20px rgba(0,0,0.3);
  justify-content:center;
  position:relative;
  flex-direction:column;
  background:black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('java.jpg');
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
  box-shadow: black;
  
 

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: orange;
  text-align: left;
}
footer{
  font-style: oblique;
  font-weight: bold;
}